@mixin container {
  max-width: 1440px;
  margin: 0 auto;
}

@mixin flex($justifyContent: center) {
  display: flex;
  align-items: center;
  justify-content: $justifyContent;
}
@mixin button($padding: 16px 56px) {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $padding;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
}
