$primary-color1: #1e9af1;
$primary-color2: #3dbe52;
$primary-color3: #f45d07;
$body-color: #f4f8fb;
$background-linear: linear-gradient(
  180deg,
  rgba(210, 244, 255, 0) 0%,
  rgba(210, 244, 255, 0.5) 100%
);
$background-darkBlue: #1b1b57;
$background-White: #fff;
$background-black: #212327;
$text-colorWhite: white;
$text-colorBlack: black;
$text-colorDark: #212327;
$text-colorgrey: #828585;
$primary-font: "Roboto", sans-serif;
